<ion-header >
  <app-nav-bar></app-nav-bar>
</ion-header>

<ion-content>
  <ol>
    <li class="contactBlock" id="President">
      <h1>Kevin Davis</h1>
      <h3>President</h3>
      <img src="../../assets/images/Kevin.jpg">
      <p>Email: <a href="kevindavis.gd@gmail.com">kevindavis.gd@gmail.com</a></p>
    </li>
    <li class="contactBlock" id="member01">
      <h1>Arshia Clare</h1>
      <h3>Vice President</h3>
      <img src="../../assets/images/arshia.jpg">
      <p>Email: <a href="arshiaclare@gmail.com">arshiaclare@gmail.com</a></p>
    </li>
    <li class="contactBlock" id="member02">
      <h1>Zach Kingcade</h1>
      <h3>Webmaster</h3>
      <img src="../../assets/images/zach.jpg">
      <p>Email: <a href="zachkingcade@gmail.com">zachkingcade@gmail.com</a></p>
    </li>
    <li class="contactBlock" id="member03">
      <h1>Micah-Lyn Scotland</h1>
      <h3>Senator</h3>
      <img src="../../assets/images/Micah-lyn.png">
      <p>Email: <a href="micahlyns@gmail.com">micahlyns@gmail.com</a></p>
    </li>
    <li class="contactBlock" id="member04">
      <h1>Faith Howell</h1>
      <h3>Senator</h3>
      <img id="faithblock" src="../../assets/images/faith.jpg">
      <p>Email: <a href="faith-howell@outlook.com">faith-howell@outlook.com</a></p>
    </li>
    <li class="contactBlock" id="member05">
      <h1>Christian Douglas </h1>
      <h3>Treasure</h3>
      <img src="../../assets/images/Christian.jpg">
      <p>Email: <a href="cedoug13@aol.com">cedoug13@aol.com</a></p>
    </li>
    <li class="contactBlock" id="member06">
      <h1>Isha Perry</h1>
      <h3>Secretary </h3>
      <img src="../../assets/images/isha.jpg">
      <p>Email: <a href="toufgirl99@aol.com">toufgirl99@aol.com</a></p>
    </li>
  </ol>
</ion-content>
