<ion-header>
  <app-nav-bar></app-nav-bar>
</ion-header>

<ion-content>
  <img id="eventLogo" src="../assets\images\gameJamLogo.png">
  <div id="what">
    <span>
      <h1 class="topicText">What is a Game Jam?</h1>
    </span>
    <img src="../assets/images/thinkBulb.jpg">
    <p>
      A Game Jam is a (usually) brief competition in which programmers, artists, or just hobbyists of varying skill
      levels make the best game they can within a limited time. Our game jam will be 54 hours or two and a quarter days.
      Awards will be given out for design, technical prowess, overall game quality, and even just learning a whole lot
      (this award involves writing an essay about everything you learned at and leading upto the game jam).
    </p>
  </div>
  <div>
    <span>
      <h1 class="topicText">Who goes to Game Jam?</h1>
    </span>
    <p>
      This 2 & 1/4 days game design competition is for everyone! We want to welcome participants even if they have no
      coding background. Our goal is to educate participants while generating a fun and competitive atmosphere.
      Volunteer
      helpers, with experience programming, will assist new designers with their projects.
      You are welcome to participate in a team. However, to ensure a fair competition for solo developers team sizes are
      limited to three. So, developers and artists, make friends. Take on the challenge together!
    </p>
  </div>
  <div>
    <span>
      <h1 class="topicText">What will I need?</h1>
    </span>
    <p>
      You (or a member of your team) will need a device or devices to work on (laptop recommended) as well as some
      engine
      of your choice to make your game with. For those with no coding experience, we recommend GDevelop. The educational
      session a week before the competition will demonstrate this engine. For those with some coding background who are
      new to game design, we recommend Phaser3, a Javascript game engine that is easy for beginners.
    </p>
  </div>
  <!--<iframe src="../assets/games/idlePixels/index.html" height="600" width="800"></iframe>-->
</ion-content>