ion-content{
    --ion-background-color: rgb(116, 116, 116);
}

p{
    text-align: center;
    width: 35%;
    margin: auto;
}

#eventLogo{
    position: relative;
    width: 30%;
    left: 35%;
    margin-bottom: 150px;
}

.topicText{
    text-align: center;
    margin-bottom: 50px;
    font-weight: bolder;
}

#schedule{
    margin-bottom: 200px;
    h3{
        font-weight: bold;
        text-align: center;
    }
    p{
        text-align: center;
        width: 35%;
        margin: auto;
    }
}

.inBrowserGameDiv{
    ion-button{
        margin: auto;
    }
}

.gameItem{
    margin-bottom: 100px;
    iframe{
        display: block;
        margin: auto;
    }
    h4{
        text-align: center;
        font-weight: bolder;
    }
    ion-button{
        display: block;
        margin: auto;
        width: 30%;
    }
}
