<ion-header >
  <app-nav-bar></app-nav-bar>
</ion-header>

<ion-content>
  <ol>
    <li class="newsItem">
      <h1>ACM Registration</h1>
      <h4>Posted 01/12/21 </h4>
      <p>$15 Dues for the whole year</p>
      <p>Pay to Christian Douglas using venmo and the QR code below</p>
      <img id="venmoQR" src="../../assets/images/venmo_qrcode.jpg">
    </li>
    <li class="newsItem">
      <h1>Spring 2021 Meetings</h1>
      <h4>Posted 01/14/21 </h4>
      <p>The new semster is here and so are we. The ACM's first meeting for the spring semester will be soon. This post will be updated when we have an
        exact date. Due to Covid-19 our meetings will be via zoom. The link will be hosted here both on the front page and on this news item a few
        hours before the meeting is to take place.
      </p>
    </li>
  </ol>
</ion-content>
