#outer {
    width: 75%;
    position: relative;
    margin: auto;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    img {
        width: 35%;
        max-height: 500px;
        object-fit: contain;
    }
    p {
        text-align: center;
        margin: auto;
        width: 50%;
        font-size: x-large;
    }
}

@media (max-aspect-ratio: 3/4) {
    #outer {
        width: 100%;
        display: list-item;
        justify-content: none;
        img {
            width: 50%;
            display: block;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        p {
            width: 75%;
        }
    }
}
