#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container a {
  text-decoration: none;
}

h1{
  text-align: center;
}

#welcomeText{
  font-size: 50px;
}

p{
  font-size: x-large;
}

@keyframes slopeUp {
  25% {opacity: 0%;}
  50% {opacity: 100%;}
  75% {opacity: 100%;}
  100% {opacity: 0%;}
}

@keyframes slopedown {
  25% {opacity: 100%;}
  50% {opacity: 0%;}
  75% {opacity: 0%;}
  100% {opacity: 100%;}
}

#picpanel1{
  position: absolute;
  top: 5%;
  left: 0%;
  width: 100%;
  height: 750px;
  opacity: 0;
  animation-name: slopeUp;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

#picpanel2{
  position: absolute;
  top: 5%;
  left: 0%;
  width: 100%;
  height: 750px;
  opacity: 100;
  animation-name: slopedown;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

#titleSpan{
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(49, 49, 49);
  opacity: 80%;
}

#spanText{
  color: aliceblue;
  font-size: 50px;
  line-height: 60px;
}

#primaryContent{
  position: absolute;
  top: 800px;
  left: 15%;
  width: 70%;
}